<!DOCTYPE html>
<html lang="en">
	<head>
	<title><%= title %></title>
	</head>
	<body>
		<header>
	      <nav>
	            <div>
	              <div>
	                	<a href="/">chatApplication</a>
	              </div>
	              <ol>
		                <li><a href="/">Home</a></li>
		                <li><a href="/chat">Chat</a></li>
		                <% if(user){ %>
		                  <li><a href=""><span id="totalOnline" class="badge">0</span>  User's Online</a></li>
		                  <li><a href="#">Hello, <%= user.username %></a></li>
		                  <li><a href="/user/logout">Logout</a></li>
		                <% } else{ %>
		                  <li><a href="/user/login">Login</a></li>
		                  <li><a href="/user/signup">Signup</a></li>
		                <% } %>
	              </ol>
	            </div>
	      </nav>
		</header>
		<main>
		<p>Response</p>
		<p><%=message%></p><br>
		<p><%=status%></p><br>
		<p><%=error%></p><br>
		</main>
		<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script src="http://cdn.socket.io/socket.io-1.4.5.js"></script>
		<script src="/moment.min.js"></script>
		<script src="/scriptforChat.js"></script>
	</body>
</html>
